﻿@model GymCon.Models.TrainingStep

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TrainingStep</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Machine.BeaconId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.BeaconId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingPlan.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingPlan.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeightKg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightKg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Series)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Series)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainingStepId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
