﻿@model IEnumerable<GymCon.Models.TrainingStep>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Machine.BeaconId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingPlan.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeightKg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Machine.BeaconId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingPlan.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeightKg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainingStepId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainingStepId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainingStepId })
        </td>
    </tr>
}

</table>
