﻿@model GymCon.Models.Machine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeaconId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeaconId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InUse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XCoord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XCoord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YCoord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YCoord)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MachineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
