﻿@model IEnumerable<GymCon.Models.Machine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeaconId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XCoord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YCoord)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BeaconId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XCoord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YCoord)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MachineId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MachineId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MachineId })
        </td>
    </tr>
}

</table>
